<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://asset.raoul1996.cn/static/favicon.ico">
    <title>Raoul's django blog</title>
</head>
<body>
<div>
    <h1><a href="">Raoul's Django Blog</a></h1>
</div>
<div>
    <p>published: 27.03.2018, 23:02</p>
    <h2><a href="">My first post</a></h2>
    <p>Hello world</p>
</div>
<div>
    <p>published: 27.03.2018, 23:02</p>
    <h2><a href="">My second post</a></h2>
    <p>Hello world</p>
</div>
</body>
</html>